[Unit]
Description=Rclone mount service
After=network.target
Wants=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Type=simple
Environment="RCLONE_LOG_LEVEL=DEBUG"
Environment="RCLONE_USER_SOURCE_NAME=remote"
Environment="RCLONE_USER_SOURCE_DIRECTORY="
Environment="RCLONE_USER_TARGET_DIRECTORY=%h/remote"
Environment="RCLONE_VFS_CACHE_MODE=full"
ExecStart=/bin/sh -c 'exec /usr/bin/rclone --log-level=\${RCLONE_LOG_LEVEL} --vfs-cache-mode \${RCLONE_VFS_CACHE_MODE} mount \${RCLONE_USER_SOURCE_NAME}:\${RCLONE_USER_SOURCE_DIRECTORY} \${RCLONE_USER_TARGET_DIRECTORY}'
ExecStop=/bin/sh -c 'exec /usr/bin/fusermount -uz \${RCLONE_USER_TARGET_DIRECTORY}'
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
